* {
  padding: 0%;
  margin: 0%;
}
p {
  color: rgb(156, 161, 149);
  text-align: justify;
  text-transform: capitalize;
  line-height: 1.5;
  text-indent: 30px;
}
a {
  text-decoration: none;
  color: orangered;
}
h2 {
  text-decoration: line-through;
  letter-spacing: 4px;
  word-spacing: 3px;
  text-shadow: 2px 5px green;
}
